<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="../yuhao/引入/vue.js"></script>
<style>
    table {
        width: 800px;
        border-collapse: collapse;

    }

    td {
        width: 200px;
        height: 40px;
        text-align: center;
    }

    td:last-child {
        width: 300px;
    }


    button {
        margin-left: 10px;

    }

    #xiugai {
        margin-bottom: 20px;
    }

    .color-0 {
        background: yellow;

    }

    .color-0:hover {
        background-color: orange;
    }

    .color-1:hover {
        background-color: orange;
    }

    .color-1 {
        background: pink;
    }
</style>

<body>

    <div id="app">
        <form action="#" id="xiugai">
            <div>
                姓名：<input type="text" name="" id="name" v-model="name">
                <br>
                性别： <input type="text" name="" id="sex" v-model="sex">
                <br>
                年龄：<input type="text" name="" id="age" v-model="age">
                <button @click="ti">添加</button>
            </div>
            <div>
                <select name="" id="">
                    <option value="">年龄</option>
                    <option value="">编号</option>
                </select>
                <select name="" id="">
                    <option value="">降序</option>
                    <option value="">升序</option>
                </select>
                <button>排序</button>
            </div>
        </form>
        <table border="1px">
            <thead>
                <tr>
                    <th><input type="checkbox" name="all" id="all">全选</th>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in str" :key="index" :class="'color-' + index % 2">
                    <td><input type="checkbox" name="" id=""></td>
                    <td>{{index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.sex}}</td>
                    <td>{{item.age}}</td>
                    <td>
                        <button @click=" remove(index)">删除</button>
                        <button @click="modify(index)">向上</button>
                        <button @click="cha(index)">向下</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




</body>
<script>
    new Vue({
        el: '#app', //id = 'app' 或者是给一个变量名，例如 vm 就可以取出
        data: {
            show: false,
            name: '',
            sex: '',
            age: '',
            str: [
                {
                    id: "1",
                    name: "张三",
                    sex: "男",
                    age: 18,
                },
                {
                    id: "2",
                    name: "李四",
                    sex: "男",
                    age: 23,
                },
                {
                    id: "3",
                    name: "王五",
                    sex: "女",
                    age: 32,
                },
                {
                    id: "4",
                    name: "赵六",
                    sex: "女",
                    age: 20,
                }
            ]

        },

        methods: {

            //删除
            remove(index) {
                this.str.splice(index, 1);
            },
            //添加
            ti() {
                obj = {
                    name: $('#name').val(),
                    sex: $('#sex').val(),
                    age: $('#age').val(),
                }
                this.str.push(obj);
                this.show = false;
            },
            // 上移
            modify(index) {
                if (index == 0) {
                } else {
                    let arr = this.str;
                    arr.splice(index - 1, 1, ...arr.splice(index, 1, arr[index - 1]));
                }
            },
            // 下移
            cha(index) {
                let arr = this.str;
                arr.splice(index, 1, ...arr.splice(index + 1, 1, arr[index]))
            },
            // 全选

            // all() {
            //     for (let item of this.str) {
            //         item.state = this.alls
            //     }
            // },
            // upall() {
            //     this.alls = this.str.every(item => item.state);
            // }

        }
    })

</script>
<script src="../yuhao/引入/jquery-3.7.0.min(1).js"></script>

</html>